body{
    background-color: lightgray;
}

.center-header {
    font-size: 48px;
    text-align: center;
}

.outer-style{
   text-align: center;
}

.inner-style {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}

.recipe-list{
    text-size: 35px;
    color: darkgray;
    font-weight: bold;
}

.wrap-text{
    max-width: 400px;
    /* margin: 50px; */
}

.wrap-text li{
    padding: 20px;
}

.wrap-text.quote{
    max-width: 800px;
}

.highlight {
    background-color: blanchedalmond;
}

.quote {
    font-style: italic;
    font-size: 40px;
}