.hide {
    display: none;
}

body{
    display: flex;
    flex-direction: column;
}

.subheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: larger;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    background-color: gray;
    color: white;
    margin: 10px;
    text-align: center;
}

button{
    margin: 10px;
    font-size: 30px;
    border-radius: 10px;

}

#results{
    margin: 20px 0px;;
}

table {
    margin-top: 20px;
}

td, th {
    text-align: center;
    padding: 10px;
    margin: 10px;
}